%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%link{
  display: inline-block;
  text-decoration: none;
}

%button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}