
  
  .details {
    font-family: $main-text-font;
    color: $poster-title-color;
    padding: 80px 20px 20px 20px;
    margin: 0 auto;
    position: relative;
    &__control {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 70px;
    }
    &__box{
      margin-bottom: 35px;
    }
    // Постер фильма
    &__image{
      display: block;
      max-width: 100%;
      height: auto;
      }
      //Контейнер со всей инфой и фильме.
      &__main{
        margin-bottom: 35px;
      }
      //Название фильма
      &__title{
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      //заголовок "О фильме"
      &__about{
        font-size: 11px;        
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      //Описание фильма
      &__overview{        
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 35px;
      }
      //Кнопки просмотренное и очередь
      &__button {
        @extend %detailsBtn;
        width: 45%;
        height: 100%;
        padding: 20px 15px 15px;
        background: #ffffff;
        border: 1px solid $poster-title-color;
    }
  }
  //Позиционирует кнопку вернуться 
  .return-btn{
    @extend %detailsBtn;
    color: #ffffff;
    background-color: $poster-about-color;
    border: 1px solid $poster-about-color;
    position: absolute;
    top: 15px;
    padding: 10px 10px;
    @media (min-width: 768px){
      top: 35px;
    }
  }
  /* Статистика фильма */
  //Таблица
  .stats{
    width: 100%;
    margin-bottom: 35px;
   // Заголовки названий параметров (серые слева)
    &__title{
      color: $poster-title-color;
      opacity: 0.6;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      width: 60%;
      height: 20px;
      // margin-bottom: 20px;
    }
    //Блок с параментрами фильма, которые пприходят с сервера
    &__info{
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      color: $poster-title-color;
      //Оригинальное название фильма (приходит с сервера, должно быть большими буквами)
      &-title{
        text-transform: uppercase;
      }
    }
  }

  //Стили для оценки фильма и кол-ва проголосовавших, могут быть использованы и на страничке my library
  .vote{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 4px 9px;
    border-radius: 5px;
  }
  // Добавляет оранжевый фон и белый шрифт для оценки фильма и кнопки
  .orange{
    @extend %orange;
  }
  // серый фон для кол-ва проголосовавших за фильм
  .grey{
    background-color: #f7f7f7;
  }

  //Стили, когда кнопка нажата
  .active{
    @extend %orange;
    color: #ffffff;
    background-color: $poster-about-color;
    border: 1px solid $poster-about-color;
  }

  // MEDIARULES

  @media (min-width: 768px) {
    .details{
      display: flex;
      padding: 100px 20px 0;
      &__main{
        // width: 295px;
        width: 80%;
      }
      &__box{ //image
        margin-right: 30px;
      }
      &__title{
        font-size: 25px;
        line-height: 35px;
      }
    }
  }

  @media (min-width: 1024px) {
    .details{
      &__main{
        width: 420px;
        // width: 60%;
      }
    }
  }