<ul class="slider__list">
    <li class="slider__item"><button class="slider__btn" data-move="left"></button></li>
    <li class="slider__item slider__mobile--hidden"><span class="slider__page-first" id="slider-page-first"></span></li>
    <li class="slider__item slider__mobile--hidden"><span id="slider-page-interLeft"></span></li>
    <li class="slider__item"><span class="slider__page-secondBefore" id="slider-page-secondBefore"></span></li>
    <li class="slider__item"><span class="slider__page-firstBefore" id="slider-page-firstBefore"></span></li>
    <li class="slider__item slider__page-current"><span id="slider-page-current"></span></li>
    <li class="slider__item"><span class="slider__page-firstAfter" id="slider-page-firstAfter"></span></li>
    <li class="slider__item"><span class="slider__page-secondAfter" id="slider-page-secondAfter"></span></li>
    <li class="slider__item slider__mobile--hidden"><span id="slider-page-interRight"></span></li>
    <li class="slider__item slider__mobile--hidden"><span class="slider__page-last" id="slider-page-last"></span></li>
    <li class="slider__item"><button class="slider__btn" data-move="right"></button></li>
</ul>